body{
    background-color: #89c15e;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    text-align: center;
}

#header{
    font-weight: 600;
    color: white;
    display: inline-flex;
    border: 2px solid white;
    padding: 10px;
    border-radius: 6px;
    gap: 200px;
    text-align: left;
}
#scoreboard{
    color: white;
    gap: 20px;
    display: flex;
    align-items: center;
}
#computer-score, #your-score{
    width: 130px;
    height: 130px;
    color: #656565;
    background-color: white;
    border: 2px solid white;
    padding: 8px;
    border-radius: 6px;
    text-align: center;
}

#computer-score-value, #your-score-value{
    padding:20px ;
    color:#252525;
    font-weight: 600; 
    font-size: 80px;
}