body {
    background-color: #89c15e;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    padding-top: 35px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    padding: 5px 15px;
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

.title {
    color: white;
    font-size: 22px;
    line-height: 0.9;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

#scoreboard {
    display: flex;
    gap: 20px;
}

.score {
    background-color: white;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.score-label {
    color: #656565;
    font-size: 18px;
    letter-spacing: 2.5px;
    font-weight: 600;
    margin-bottom: 18px;
}

.score-value {
    color: #252525;
    font-size: 70px;
    font-weight: 700;
    line-height: 1;
}