body {
    background-color: #89c15e;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    padding-top: 35px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    padding: 0px 15px;
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

.title {
    color: white;
    font-size: 22px;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}

#scoreboard {
    display: flex;
    gap: 20px;
}

.score {
    background-color: white;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.score-label {
    color: #656565;
    font-size: 18px;
    letter-spacing: 2.5px;
    font-weight: 600;
    margin-bottom: 18px;
}

.score-value-player,
.score-value-computer {
    color: #252525;
    font-size: 70px;
    font-weight: 700;
    line-height: 1;
}


.rock-paper-scissors {
    display: grid;
    align-self: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 1px;
    margin-top: 40px;
}

.option {
    width: 145px;
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.option img:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
}

.option:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.option:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
}

.option:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
}


.rock img {
    padding: 25px;
    background-color: white;
    border-radius: 100px;
    height: 85px;
    width: 85px;
    border: 20px solid #0074b6;
}

.paper img {
    padding: 25px;
    background-color: white;
    border-radius: 100px;
    height: 80px;
    width: 80px;
    border: 20px solid #ffa943;
}

.scissors img {
    padding: 25px;
    background-color: white;
    border-radius: 100px;
    height: 80px;
    width: 80px;
    border: 20px solid #bd00ff;
}

.rock-paper-scissors::before,
.rock-paper-scissors::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    height: 6px;
    z-index: 0;
}

.rock-paper-scissors::before {
    width: 290px;
    height: 15px;
    top: 400px;
    left: 600px;
    z-index: -1;
}

.rock-paper-scissors::after {
    width: 230px;
    height: 15px;
    top: 450px;
    left: 650px;
    transform: rotate(60deg);
    transform-origin: left center;
    z-index: -1;
}

.rock-paper-scissors .triangle-line {
    position: absolute;
    width: 230px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    top: 450px;
    right: 650px;
    transform: rotate(-60deg);
    transform-origin: right center;
    z-index: -1;
}