body {
    background-color: #89c15e;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    padding-top: 35px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    padding: 0px 15px;
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

.title {
    color: white;
    font-size: 22px;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}

#scoreboard {
    display: flex;
    gap: 20px;
}

.score {
    background-color: white;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.score-label {
    color: #656565;
    font-size: 18px;
    letter-spacing: 2.5px;
    font-weight: 600;
    margin-bottom: 18px;
}

.score-value-player, .score-value-computer {
    color: #252525;
    font-size: 70px;
    font-weight: 700;
    line-height: 1;
}
.rock-paper-scissors {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

.rock img {
    padding: 25px;
    background-color: white;
    border-radius: 100px;
    height: 85px;
    width: 85px;
    border: 20px solid #0074b6;
}

.paper img {
    padding: 25px;
    background-color: white;
    border-radius: 100px;
    height: 80px;
    width: 80px;
    border: 20px solid #ffa943;
}

.scissors img {
    padding: 25px;
    background-color: white;
    border-radius: 100px;
    height: 80px;
    width: 80px;
    border: 20px solid #bd00ff;
}